{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4"> This will be a contact page</h1>
            Your home away from home!
        </div>
    </div>
</div>
{{end}}