{{template "base" .}}

{{define "content"}}
<div class="container"> 
    <div class="row">
        <div class="col">
            <img src = "/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="Room image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4"> Forest room</h1>
            Your home away from home!
        </div>
    </div>
</div>

<div class="row">
    <div class = "col text-center">
        <a href="/check-forest" class="btn btn-success">Check Availability</a>
    </div>
</div>
{{end}}